/* Container for the events section */
.events-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(227, 157, 127);
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
    width: 100%; 
    max-width: 100%; 
    height: 600px; 
    box-sizing: border-box;
    position: relative; 
    overflow: hidden; 
}

/* Slider container for images */
.events-image-slider {
    position: relative;
    flex: 1;
    overflow: hidden; 
    height: 100%; 
}

/* Content area for the events */
.events-content-slider {
    flex: 1;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    height: 100%; 
}

/* Event image slides */
.events-image-slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.events-image-slide {
    min-width: 100%;
    height: 100%; 
    overflow: hidden; 
    position: relative; 
}

.events-image-slide img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

/* Buttons for navigating the slider */
.events-slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.events-slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Highlighted text */
.highlight {
    font-weight: bold;
}

.gh {
    padding: 20px;
    transition: 0.8s;
}

.gh:hover {
    color: rgb(92, 91, 91);
    padding: 10px;
    transform: scale(1.3);
}


/* Ensure responsive layout */
@media (max-width: 768px) {
    .events-slider-container {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .events-content-slider {
        padding: 10px;
    }
}
